$fondo-body: white;
$fondo-principal: #E56353;
$fondo-secundario: #fafafa;
$fondo-gris: #686963;
$fondo-grisclaro: #91918D;
$color-titulo:white; 
$color-parrafogris:#686963;
$tamano-titulo: 3.5rem;
$tamano-titulo2: 3rem;
$tamano-subtitulo: 1.5rem;
$tamano-parrafo: 1rem; 
$ancho-imagen1: 58%;
$ancho-imagen2: 23%;
$ancho-parrafos: 45%;